@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #11142d;
  --primary-button: #4da8cce5;
  --feature-badge: #c2eeff;
  --faq-desc: #6d6e7a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-primary-button: var(--primary-button);
  --color-feature-badge: var(--feature-badge);
  --color-faq-desc: var(--faq-desc);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.scroll-top-btn.visible {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.scroll-top-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 28px rgba(29, 78, 216, 0.4);
}

.scroll-top-btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #1d4ed8, #38bdf8);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 20px rgba(29, 78, 216, 0.35);
  transition:
    opacity 0.3s,
    transform 0.3s;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}

.text-gradient {
  background: linear-gradient(132.56deg, #52b4da 5.63%, #1e3e85 106.16%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.gradient-link-rounded {
  border: 3px solid transparent; 
    background: 
    linear-gradient(#fff, #fff) padding-box, 
    linear-gradient(132.56deg, #52B4DA, #1E3E85) border-box;
}
.premium-price-button{
  background: linear-gradient(129.98deg, #52B4DA -106.35%, #1E3E85 95.25%);
}

.social-media-bg{
  background: linear-gradient(135deg, rgba(235, 237, 255, 0.15) 0%, rgba(173, 184, 255, 0.15) 100%);

}